# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
.RData
# *.RData

# Directories with non-trackable files
inst/out/
inst/sos_versions/
inst/scripts/*.html
inst/scripts/*.pdf
inst/scripts/*.docx
